body {
  background-color: #f9f7fe;
  font-family: sans-serif;
}

.container {
  max-with: 600px;
  background: white;
  padding: 30px;
  box-shadow: 10px 10px 5px rgba (0,0,0,0.5);
  border-radius: 10px;
  margin: 60px 0;
}
.city {
 display: flex; 
 justify-content: space-between;
 padding: 20px 0;
 border-bottom: 1px dashed rgba(0,0,0,0.2);
}

.city: last-child {
  border: none;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

.time {
font-size: 36px;
font-weight: bold;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0,0,0, 0.5);
}
